IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'AuctionDB')
BEGIN
    -- Create the database
    CREATE DATABASE [AuctionDB];
END;
GO

USE [AuctionDB]
GO
/****** Object:  Table [dbo].[Auctions]    Script Date: 17/10/2025 13:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auctions](
	[AuctionID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[IsOpen]  AS (case when [EndDate]>getdate() then (1) else (0) end),
	[Picture] [varbinary](max) NULL,
	[MIMEType] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuctionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bids]    Script Date: 17/10/2025 13:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bids](
	[BidID] [int] IDENTITY(1,1) NOT NULL,
	[AuctionID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[BidAmount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BidID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17/10/2025 13:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auctions] ADD  CONSTRAINT [DF_Auctions_StartDate]  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[Auctions]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Bids]  WITH CHECK ADD FOREIGN KEY([AuctionID])
REFERENCES [dbo].[Auctions] ([AuctionID])
GO
ALTER TABLE [dbo].[Bids]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
/****** Object:  StoredProcedure [dbo].[CreateAuction]    Script Date: 17/10/2025 13:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateAuction]
    @Title NVARCHAR(100),
    @Description NVARCHAR(MAX),
    @Price DECIMAL(10, 2),
    @CreatedBy INT,
	@Picture VARBINARY(MAX),
	@MIMEType nvarchar(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Kontrollera om en auktion med samma titel redan finns
    IF EXISTS (
        SELECT 1 
        FROM Auctions 
        WHERE Title = @Title
    )
    BEGIN
        SELECT 'En auktion med denna titel finns redan';
        RETURN;
    END

    -- Skapa auktionen med EndDate som nuvarande datum + 7 dagar
    INSERT INTO Auctions (Title, Description, Price, CreatedBy, EndDate, Picture, MIMEType)
    VALUES (@Title, @Description, @Price, @CreatedBy, DATEADD(DAY, 7, GETDATE()), @Picture, @MIMEType);

    SELECT 'Auktionen har skapats';
END;

GO
/****** Object:  StoredProcedure [dbo].[DeleteAuction]    Script Date: 17/10/2025 13:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteAuction]
    @AuctionID INT,
    @UserID INT  -- New parameter for the user ID
AS
BEGIN
    -- Check if the auction exists and if the auction's CreatedBy matches the UserID
    IF NOT EXISTS (SELECT 1 FROM Auctions WHERE AuctionID = @AuctionID AND CreatedBy = @UserID)
    BEGIN
        SELECT 'Du kan endast radera en auktion du själv har skapat';
        RETURN;
    END

    -- Check if there are bids associated with the auction
    IF NOT EXISTS (SELECT 1 FROM Bids WHERE AuctionID = @AuctionID)
    BEGIN
        -- Proceed with deletion if no bids exist
        DELETE FROM Auctions WHERE AuctionID = @AuctionID;
        SELECT 'Auktionen har blivit raderad';
    END
    ELSE
    BEGIN
        -- If bids exist, return the error message
        SELECT 'Auktionen har bud och kan inte tas bort';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteBid]    Script Date: 17/10/2025 13:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteBid]
    @BidID INT,
    @UserID INT
AS
BEGIN
    DECLARE @AuctionID INT;
    DECLARE @IsOpen BIT;
    DECLARE @BidUserID INT;

    SET @AuctionID = (SELECT AuctionID FROM Bids WHERE BidID = @BidID);
    SET @IsOpen = (SELECT IsOpen FROM Auctions WHERE AuctionID = @AuctionID);
    SET @BidUserID = (SELECT UserID FROM Bids WHERE BidID = @BidID);

    IF @IsOpen = 0
    BEGIN
        SELECT 'Cannot remove bid as the auction is closed';
        RETURN;
    END

    IF @BidUserID != @UserID
    BEGIN
        SELECT 'You can only remove your own bids';
        RETURN;
    END

    DELETE FROM Bids WHERE BidID = @BidID;
	SELECT 'Bid has been deleted';
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllBids]    Script Date: 17/10/2025 13:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllBids]
    @AuctionID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IsOpen BIT;
    DECLARE @HighestBid DECIMAL(18, 2);

	
    IF NOT EXISTS (SELECT 1 FROM Auctions WHERE AuctionID = @AuctionID)
    BEGIN
        SELECT 'Det finns inget sådant auktionID';
        RETURN;
    END

    SET @IsOpen = (SELECT IsOpen FROM Auctions WHERE AUctionID=@AuctionID);

    IF @IsOpen = 0
    BEGIN
        SELECT 
            A.AuctionID,
            A.Title,
            A.Price AS StartingPrice,
            ('Closed Auction: ' + A.EndDate),
            ISNULL(MAX(B.BidAmount), A.Price) AS HighestBidOrPrice
        FROM Auctions A
        LEFT JOIN Bids B ON A.AuctionID = B.AuctionID
        WHERE A.AuctionID = @AuctionID
        GROUP BY A.AuctionID, A.Title, A.Price, A.EndDate;
    END
    ELSE
    BEGIN
        SELECT 
            B.BidID,
            B.BidAmount,
            U.Username
        FROM Bids B
		JOIN Users U ON B.UserID = U.UserID
        WHERE B.AuctionID = @AuctionID
        ORDER BY B.BidAmount DESC;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAuctionById]    Script Date: 17/10/2025 13:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAuctionById]
    @ID int
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        A.AuctionID,
        A.Title,
		A.CreatedBy,
		A.Description,
		(A.Picture) AS Image,
		A.MIMEType,
        ISNULL(MAX(B.BidAmount), A.Price) AS HighestBidOrPrice
    FROM 
        Auctions A
    LEFT JOIN 
        Bids B ON A.AuctionID = B.AuctionID
    WHERE
        A.AuctionID=@ID
    GROUP BY 
        A.AuctionID, A.Title, A.CreatedBy, A.Description, A.Picture, A.MIMEType, A.Price 
    ORDER BY 
        A.AuctionID;
END;
GO
/****** Object:  StoredProcedure [dbo].[LoginUser]    Script Date: 17/10/2025 13:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoginUser]
@Username nvarchar(50),
@Password nvarchar(255)
AS
BEGIN

IF EXISTS(SELECT UserID FROM Users WHERE Username = @Username AND Password = @Password)
    SELECT UserID FROM Users WHERE Username = @Username
ELSE
    SELECT 0;

END
GO
/****** Object:  StoredProcedure [dbo].[PlaceBid]    Script Date: 17/10/2025 13:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PlaceBid]
    @AuctionID INT,
    @UserID INT,
    @BidAmount DECIMAL(18, 2)
AS
BEGIN

	IF NOT EXISTS (SELECT 1 FROM Auctions WHERE AuctionID = @AuctionID)
    BEGIN
        SELECT 'Det finns inget sådant auctionID';
        RETURN;
    END

	DECLARE @IsOpen BIT;
    DECLARE @HighestBid DECIMAL(18, 2);
    DECLARE @AuctionCreator INT;
	DECLARE @AuctionPrice DECIMAL(10,2);

    SET @IsOpen = (SELECT IsOpen FROM Auctions WHERE AuctionID = @AuctionID);
    SET @AuctionCreator = (SELECT CreatedBy FROM Auctions WHERE AuctionID = @AuctionID);
	SET @AuctionPrice = (SELECT Price FROM Auctions WHERE AuctionID = @AuctionID);
    SET @HighestBid = (SELECT MAX(BidAmount) FROM Bids WHERE AuctionID = @AuctionID);

    IF @IsOpen = 0
    BEGIN
        SELECT 'Auktionen är stängd';
        RETURN;
    END

    IF @UserID = @AuctionCreator
    BEGIN
        SELECT 'Skaparen av auktionen kan inte lägga bud på sin egen auktion';
        RETURN;
    END

	IF @BidAmount < @AuctionPrice
    BEGIN
        SELECT 'Budet är för lågt';
        RETURN;
    END

    IF @BidAmount <= ISNULL(@HighestBid, 0)
    BEGIN
        SELECT 'Budet är för lågt';
        RETURN;
    END

    INSERT INTO Bids (AuctionID, UserID, BidAmount)
    VALUES (@AuctionID, @UserID, @BidAmount);
	SELECT 'Budet har lagts';
END
GO
/****** Object:  StoredProcedure [dbo].[RegisterUser]    Script Date: 17/10/2025 13:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegisterUser]
@Username nvarchar(50),
@Password nvarchar(255)
AS
BEGIN
    DECLARE @status INT

    IF EXISTS(SELECT * FROM Users WHERE Username = @Username)
        SELECT 'Användarnamnet finns redan';
    ELSE
		INSERT INTO Users(Username,Password) VALUES (@Username,@Password)
        SELECT 'Användare har skapats'

END
GO
/****** Object:  StoredProcedure [dbo].[SearchAuctions]    Script Date: 17/10/2025 13:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchAuctions]
    @Title NVARCHAR(255) = NULL  -- optional
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        A.AuctionID,
        A.Title,
		A.Description,
		(A.Picture) AS Image,
		A.MIMEType,
        ISNULL(MAX(B.BidAmount), A.Price) AS HighestBidOrPrice
    FROM 
        Auctions A
    LEFT JOIN 
        Bids B ON A.AuctionID = B.AuctionID
    WHERE
        (@Title IS NULL OR A.Title LIKE '%' + @Title + '%')
    GROUP BY 
        A.AuctionID, A.Title, A.Description, A.Picture, A.MIMEType, A.Price 
    ORDER BY 
        A.AuctionID;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateAuction]    Script Date: 17/10/2025 13:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateAuction]
    @AuctionID INT,
    @Description NVARCHAR(MAX),
    @UserID INT
AS
BEGIN

    IF NOT EXISTS (SELECT 1 FROM Auctions WHERE AuctionID = @AuctionID AND CreatedBy = @UserID)
    BEGIN
        SELECT 'Kan endast uppdatera auktioner du själv lagt ut';
        RETURN;
    END


    IF NOT EXISTS (SELECT 1 FROM Bids WHERE AuctionID = @AuctionID)
    BEGIN

        UPDATE Auctions
        SET Description = @Description
        WHERE AuctionID = @AuctionID;
        SELECT 'Auktion beskrivning har uppdaterats';
    END
    ELSE
    BEGIN

        SELECT 'Auktionen har bud och kan inte uppdateras';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 17/10/2025 13:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[UpdateUser]
    @UserID INT,
	@NewUsername nvarchar(50)
AS
BEGIN

		UPDATE Users SET Username=@NewUsername WHERE UserID=@UserID
        SELECT 'Updaterat användarnamn'
END;
GO
